<div class="edit_pages_content_main clearfix">

    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Profile Settings
            </h4>

        </div>
        <div class="edit_page_details_item" ng-repeat="item in page.model.profileSettingArr">
            <div id="fullupdatefatherbrother">
                <div>
                    <div id="UpdatePanelFBProfession" class="edit_page_details_item_desc clearfix">

                        <div>
                            <h6>
                                <span id="lblprofilecurrentstatus" font-bold="true">Application Status</span>
                            </h6>
                            <h5>
                                <span id="lblprofcurrentstatus">{{item.ProfileStatus}}</span>
                            </h5>
                        </div>

                    </div>
                    <div id="UpdatePanellnkFatherSister" class="edit_page_item_ui clearfix">

                        <a href="javascript:void(0);" class="edit_page_edit_button" ng-click="page.model.showprofilepopup('profileSetting',item);">Edit</a>

                    </div>

                    <div id="UpApplicationStatusmodifybydiv">

                        <div id="ApplicationStatusmodifybydiv" class="edit_page_details_item_desc clearfix" visible={{item.EmployeeName !="" && Eval( "EmployeeName")!=null?true:false }}>

                            <h6>
                                <span id="ApplicationStatusmodifyby" font-bold="true">Application Status ModifiedBy</span>
                            </h6>
                            <h5>
                                <span id="lblApplicationStatusmodifyby">{{item.EmployeeName}}</span>
                            </h5>
                        </div>

                    </div>
                    <div id="inactivediv" ng-show="item.ProfileStatusID==='55' || item.ProfileStatusID===55">

                        <div id="divtotalinactive">
                            <div id="UpdatePanel9" class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="span1" font-bold="true">No of Days to be inactivated </span>
                                    </h6>
                                    <h5>
                                        <span id="lblNoofDaysinactivated">{{item.NoofDaysinactivated}}
                                    </span>
                                    </h5>

                                </div>

                            </div>
                            <div id="UpdatePanel12" class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="span6" font-bold="true">Reason for InActive</span>
                                    </h6>
                                    <h5>
                                        <span id="lblReason4InActive">{{item.Reason4InActive}}
                                    </span>
                                    </h5>

                                </div>

                            </div>
                            <div id="UpdatePanel13" class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="span8" font-bold="true">Requested By</span>
                                    </h6>
                                    <h5>
                                        <span id="lblRequestedBy">{{item.RequestedBy}}
                                    </span>
                                    </h5>

                                </div>

                            </div>
                        </div>

                    </div>
                    <div id="UpdatePanelFBProfessionDetails">

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <span id="profilegrade" font-bold="true">Profile Grade</span>
                            </h6>
                            <h5>
                                <span id="lblprofilegrade">{{item.ProfileGrade}}</span>
                            </h5>
                        </div>

                    </div>
                    <div id="Updatelblprofilegrademodifyby">

                        <div class="edit_page_details_item_desc clearfix" ng-show="item.ProfileGradeModifiedByEmp !=='' && item.ProfileGradeModifiedByEmp!=null">

                            <h6>
                                <span id="lblprofilegrademodifyby" font-bold="true">Profile Grade ModifiedBy</span>
                            </h6>
                            <h5>
                                <span id="ProfileGradeModifiedByEmp">{{item.ProfileGradeModifiedByEmp}}</span>
                            </h5>
                        </div>

                    </div>




                </div>
            </div>
        </div>
    </div>
    <div class="edit_page_item" id="divconfidential">
        <div class="edit_page_item_head clearfix">
            <h4>Confidential status
            </h4>

        </div>
        <div class="edit_page_details_item" ng-repeat="item in page.model.ConfidentialArr">
            <div id="UpdatePanel2">
                <div>
                    <div id="UpdatePanelFBCurrentLocation" class="edit_page_details_item_desc clearfix">

                        <div>

                            <h6>
                                <span id="isConfidential" font-bold="true">isConfidential</span>
                            </h6>
                            <h5>
                                <span id="lblisConfidential">{{item.ConfindentialStatus}}</span>
                            </h5>

                        </div>

                    </div>
                    <div id="UpdatePanel1" class="edit_page_item_ui clearfix">

                        <a href="javascript:void(0);" class="edit_page_edit_button" ng-click="page.model.showprofilepopup('confidential',item);">Edit</a>

                    </div>
                    <div id="UpdatePanel6" class="edit_page_details_item_desc clearfix">

                        <div>

                            <h6>
                                <span id="span5" font-bold="true">Very High Confidential</span>
                            </h6>
                            <h5>
                                <span id="lblvryconfidential">{{item.HighConfidentialStatus}}</span>
                            </h5>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="edit_page_item" id="divcprofiledisplaysettings">
        <div class="edit_page_item_head clearfix">
            <h4>Profile Display Settings
            </h4>

        </div>
        <div class="edit_page_details_item" ng-repeat="item in page.model.profileDisplayArr">
            <div id="UpdatePanel4">
                <div>

                    <div id="UpdatePanel3" class="edit_page_item_ui clearfix">

                        <a href="javascript:void(0);" class="edit_page_edit_button" ng-click="page.model.showprofilepopup('profileDisplay',item);">Edit</a>

                    </div>
                    <div id="UpdatePanel7" class="edit_page_details_item_desc clearfix">

                        <div>
                            <h6>
                                <span id="span3" font-bold="true">Display In</span>
                            </h6>
                            <h5>
                                <span id="lblProfileDisplayName">{{item.ProfileDisplayName}}</span>
                            </h5>

                        </div>

                    </div>
                    <div id="UpdatePanel8" class="edit_page_details_item_desc clearfix">

                        <div>
                            <h6>
                                <span id="lblprofileloginstatus" font-bold="true">Profile Current Login Status Is</span>
                            </h6>
                            <h5>
                                <span id="lblprofileloginstatusis">{{item.LoginStatusName}}</span>
                            </h5>
                        </div>

                    </div>
                    <div id="divBlockdisplay" visible={{item.Blockflag=="1" ? true: false }}>
                        <div id="uplblcreateblockeddate" class="edit_page_details_item_desc clearfix">

                            <div>
                                <h6>
                                    <span id="lblcreatedate">{{item.LoginStatusName == "Blocked" ? "Blocked Date": "Allowed Date" }}</span>
                                </h6>
                                <h5>
                                    <span id="lblcreateblockeddate">{{item.BlockDate}}</span>
                                </h5>
                            </div>

                        </div>
                        <div id="uplblblockedempname" class="edit_page_details_item_desc clearfix">

                            <div>
                                <h6>
                                    <span id="lblblockedempname">{{item.LoginStatusName == "Blocked" ? "Blocked By": "Allowed By" }}</span>
                                </h6>
                                <h5>
                                    <span id="span2">{{item.BlockEmapName}}</span>
                                </h5>
                            </div>

                        </div>

                        <div id="upblockedreason" class="edit_page_details_item_desc clearfix">

                            <div>
                                <h6>
                                    <span id="lblreason">{{item.LoginStatusName == "Blocked" ? "Reason For Blocked": "Reason For Allowed" }}</span>
                                    <h5>
                                        <span id="lblBlockedReason">{{item.ProfileBlockReason}}</span>
                                    </h5>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Grade Selections
            </h4>
            <div id="updatecontenGrade">

                <div id="divAddGrade" visible="false">
                    <div class="edit_page_item_ui clearfix">
                        <div id="updateAddlnkGrade">

                            <a class="edit_page_add_button" href="javascript:void(0);" ng-click="page.model.showprofilepopup('grading');">Add</a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="edit_page_details_item" ng-repeat="item in page.model.gradeSelectionArr">
            <div id="UpdatePanel14">
                <div>

                    <div id="UpdatePanelGrade" class="edit_page_item_ui clearfix">

                        <a href="javascript:void(0);" class="edit_page_edit_button" ng-click="page.model.showprofilepopup('grading',item);">Edit</a>

                    </div>
                    <div id="UpdatepanelEdu" class="edit_page_details_item_desc clearfix">

                        <div>
                            <h6>
                                <span id="lblEducationGradeText" font-bold="true">Education</span>
                            </h6>
                            <h5>
                                <span id="lblEducationGrade">{{item.EducationGrade}}</span>
                            </h5>
                        </div>

                    </div>
                    <div id="UpdatePanelProfession" class="edit_page_details_item_desc clearfix">

                        <div>
                            <h6>
                                <span id="lblprofessionGradeText" font-bold="true">Profession</span>
                            </h6>
                            <h5>
                                <span id="lblprofessionGrade">{{item.ProfileGrade}}</span>
                            </h5>
                        </div>

                    </div>

                    <div id="updateproperty" class="edit_page_details_item_desc clearfix">

                        <div>
                            <h6>
                                <span id="lblpropertyGradeText">Property</span>
                            </h6>
                            <h5>
                                <span id="lblpropertyGrade">{{item.PropertyGrade}}</span>
                            </h5>
                        </div>

                    </div>
                    <div id="updatefamily" class="edit_page_details_item_desc clearfix">

                        <div>
                            <h6>
                                <span id="lblfamilyGradeText">Family</span>
                            </h6>
                            <h5>
                                <span id="lblfamilyGrade">{{item.FamilyGrade}}</span>
                            </h5>
                        </div>

                    </div>

                    <div id="updatePhoto" class="edit_page_details_item_desc clearfix">

                        <div>
                            <h6>
                                <span id="lblPhotoGradeText">Photo</span>
                            </h6>
                            <h5>
                                <span id="lblPhotoGrade">{{item.PhotoGrade}}</span>
                            </h5>
                        </div>

                    </div>

                    <div id="UpdatePaneCreatedBYEmp" class="edit_page_details_item_desc clearfix">

                        <div>
                            <h6>
                                <span id="lblCreatedBYEmp">Created By</span> </h6>
                            <h5>
                                <span id="lblCreatedBYEmpGrade">{{item.CreatedBYEmp}}</span>
                            </h5>
                        </div>

                    </div>

                    <div id="UpdateCreatedDateGrade" class="edit_page_details_item_desc clearfix">

                        <div>
                            <h6>
                                <span id="lblCreatedDateGrade">CreatedDate</span> </h6>
                            <h5>
                                <span id="lblCreatedDatedisplay">{{item.CreatedDate}}</span>
                            </h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<script type="text/ng-template" id="profileSettingContent.html">
    <form name="psForm" novalidate role="form" ng-submit="page.model.profileSettingSubmit(page.model.psObj)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Profile Settings
                <a href="javascript:void(0);" ng-click="page.model.cancel();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="25"></ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix pop_content_my" id="modal-body">
            <ul>

                <li class="clearfix">
                    <label for="Relationshiptype" class="pop_label_left">Application Status</label>
                    <div class="pop_controls_right pop_radios_list">

                        <md-radio-group ng-required="true" name="rdlapplicationstatus" layout="row" ng-model="page.model.psObj.rdlapplicationstatus" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                            <md-radio-button value="54" class="md-primary">Active</md-radio-button>
                            <md-radio-button value="55"> Inactive </md-radio-button>
                        </md-radio-group>
                    </div>
                </li>
                <div id="divinactive" ng-if="page.model.psObj.rdlapplicationstatus==='55' || page.model.psObj.rdlapplicationstatus===55">
                    <li class="clearfix">
                        <label for="Relationshiptype" class="pop_label_left">No of Days to be inactivated </label>
                        <div class="pop_controls_right select-box-my">
                            <input type="number" ng-model="page.model.psObj.txtnoofdaysinactive" class="form-control" MaxLength="25" />

                        </div>
                    </li>
                    <li class="clearfix">
                        <label for="Relationshiptype" class="pop_label_left">Reason for InActive</label>
                        <div class="pop_controls_right select-box-my">
                            <textarea ng-model="page.model.psObj.txtreasonforinactive" class="form-control" TabIndex="9" MaxLength="2000"></textarea>
                        </div>
                    </li>
                    <li class="clearfix">
                        <label for="Relationshiptype" class="pop_label_left">Requested By</label>
                        <div class="pop_controls_right select-box-my">
                            <select multiselectdropdown id="estt" ng-model="page.model.psObj.ddlrequestedby" typeofdata="'childStayingWith'"></select>

                        </div>
                    </li>
                </div>
                <li class="clearfix">
                    <label for="Relationshiptype" class="pop_label_left">Profile Grade</label>
                    <div class="pop_controls_right pop_radios_list">

                        <md-radio-group ng-required="true" name="rdlprofilegrade" layout="row" ng-model="page.model.psObj.rdlprofilegrade" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                            <md-radio-button value="1" class="md-primary">A</md-radio-button>
                            <md-radio-button value="2"> B </md-radio-button>
                            <md-radio-button value="3"> C </md-radio-button>
                        </md-radio-group>

                    </div>
                </li>
                <li class="row">
                    <edit-footer></edit-footer>
                </li>
            </ul>

        </div>
    </form>
</script>


<script type="text/ng-template" id="confidentialContent.html">
    <form name="refForm" novalidate role="form" ng-submit="page.model.confidentialSubmit(page.model.csObj)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Confidential Settings
                <a href="javascript:void(0);" ng-click="page.model.cancel();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="25">Delete</ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix pop_content_my" id="modal-body">
            <ul>
                <li class="clearfix">
                    <label for="Firstname" class="pop_label_left">isConfidential</label>
                    <div class="pop_controls_right select-box-my">
                        <md-checkbox ng-model="page.model.csObj.chkisconfidential" name="chkisconfidential" aria-label="Checkbox 1">
                        </md-checkbox>
                    </div>
                </li>
                <li class="clearfix">
                    <label for="Firstname" class="pop_label_left">Very High Confidential</label>
                    <div class="pop_controls_right select-box-my">
                        <md-checkbox ng-model="page.model.csObj.chkvryhighconfidential" name="chkvryhighconfidential" aria-label="Checkbox 1">

                        </md-checkbox>

                    </div>
                </li>

                <li class="row">
                    <edit-footer></edit-footer>
                </li>
            </ul>

        </div>
    </form>
</script>


<script type="text/ng-template" id="profileDisplayContent.html">
    <form name="psdForm" novalidate role="form" ng-submit="page.model.profileSettingDisplaySubmit(page.model.psdObj)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Profile Display Settings
                <a href="javascript:void(0);" ng-click="page.model.cancel();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="25">Delete</ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix pop_content_my" id="modal-body">
            <ul>

                <li class="clearfix">
                    <label for="displayin" class="pop_label_left">Display In</label>
                    <div class="pop_controls_right pop_radios_list">

                        <md-radio-group ng-required="true" name="rdldisplayin" layout="row" ng-model="page.model.psdObj.rdldisplayin" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                            <md-radio-button value="279" class="md-primary">Only Online</md-radio-button>
                            <md-radio-button value="280"> Onlly Offline </md-radio-button>
                            <md-radio-button value="434"> Both </md-radio-button>
                        </md-radio-group>

                    </div>
                </li>


                <li class="clearfix">
                    <label for="displayin" class="pop_label_left">Password Block/Release</label>
                    <div class="pop_controls_right pop_radios_list">

                        <md-radio-group ng-required="true" name="rdlpwdblock" layout="row" ng-model="page.model.psdObj.rdlpwdblock" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                            <md-radio-button value="439" class="md-primary">Allow</md-radio-button>
                            <md-radio-button value="440"> Block </md-radio-button>
                        </md-radio-group>

                    </div>
                </li>
                <li class="clearfix">
                    <label for="displayin" class="" style="color: #9b2828; font-size: 15px;">Reason</label>
                    <textarea ng-model="page.model.psdObj.txtblockedreason" class="col-lg-10 form-control" MaxLength="1000" />
                </li>
                <li class="row">
                    <edit-footer></edit-footer>
                </li>
            </ul>

        </div>
    </form>
</script>


<script type="text/ng-template" id="gradeSelectionContent.html">
    <form name="gradeForm" novalidate role="form" ng-submit="page.model.gradeSubmit(page.model.gradeObj)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Grade Selections
                <a href="javascript:void(0);" ng-click="page.model.cancel();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="25">Delete</ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix pop_content_my" id="modal-body">
            <ul>

                <li class="clearfix">
                    <label for="Relationshiptype" class="pop_label_left">Education</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="page.model.gradeObj.ddlEducationgrade" typeofdata="'gradeSelection'"></select>
                    </div>
                </li>

                <li class="clearfix">
                    <label for="Relationshiptype" class="pop_label_left">Profession</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="page.model.gradeObj.ddlProfessionGrade" typeofdata="'gradeSelection'"></select>
                    </div>
                </li>

                <li class="clearfix">
                    <label for="Relationshiptype" class="pop_label_left">Property</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="page.model.gradeObj.ddlpropertyGrade" typeofdata="'gradeSelection'"></select>

                    </div>
                </li>
                <li class="clearfix">
                    <label for="Relationshiptype" class="pop_label_left">Family</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="page.model.gradeObj.ddlfamilyGrade" typeofdata="'gradeSelection'"></select>


                    </div>
                </li>
                <li class="clearfix">
                    <label for="Relationshiptype" class="pop_label_left">Photo</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="page.model.gradeObj.ddlphotoGrade" typeofdata="'gradeSelection'"></select>


                    </div>
                </li>
                <li class="row">
                    <edit-footer></edit-footer>
                </li>
            </ul>

        </div>
    </form>
</script>