<div class="edit_pages_content_main clearfix">
    <div id="divlnkasro" class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Astro Details </h4>
            <div class="edit_page_item_ui clearfix">
                <div ng-if="page.model.AstroArr.length==0" cssclass="edit_page_add_button">
                    <a ng-click="page.model.populateAstro();" class="edit_page_add_button" href="javascript:void(0);">Add</a>
                </div>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div ng-class="item.reviewstatus===false?'edit_page_details_item_desc clearfix reviewCls':'edit_page_details_item_desc clearfix'" ng-repeat="item in page.model.AstroArr track by $index">
                <div>
                    <div ng-hide="item.TimeOfBirth===null" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="TimeofBirth" style="font-weight:bold;">Time of Birth</span></h6>
                        <h5>
                            <span id="lblTimeofBirth">{{item.TimeOfBirth}}</span></h5>
                    </div>
                    <div class="edit_page_details_item_desc clearfix">

                        <h6>
                            <span id="PlaceofBirth" style="font-weight:bold;">Place of Birth</span></h6>
                        <h5>
                            <span id="lblPlaceofBirth">{{ item.CityOfBirth +","+item.DistrictOfBirth+","+item.StateOfBirth+","+item.CountryOfBirth}}</span>
                        </h5>
                    </div>
                    <div ng-hide="item.TypeofStar===null" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="Telugustar" style="font-weight:bold;">Star Language</span></h6>
                        <h5>
                            <span id="lblTelugustar">{{ item.TypeofStar+((item.StarName!="" &&  item.StarName!=null)?" - "+
                                            item.StarName:"")+((item.Paadam!="" &&  item.Paadam!=null)?" ("+item.Paadam+")":"") }}</span></h5>

                    </div>
                    <div ng-hide="item.Rassi===null" class="edit_page_details_item_desc clearfix">

                        <h6>
                            <span id="raasimoonsign" style="font-weight:bold;">Raasi/moon sign</span></h6>
                        <h5>
                            <span id="lblraasimoonsign">{{ item.Rassi}}</span></h5>
                    </div>
                    <div ng-hide="item.Lagnam===null" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="Lagnam" style="font-weight:bold;">Lagnam</span></h6>
                        <h5>
                            <span id="lblLagnam">  {{ item.Lagnam }}</span></h5>
                    </div>
                    <div ng-hide="item.Gothram===null" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="GothramGotra" style="font-weight:bold;">Gothram/Gotra</span></h6>
                        <h5>
                            <span id="lblGothramGotra">  {{ item.Gothram}}</span></h5>
                    </div>
                    <div ng-hide="item.MeternalGothramID===null" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="MaternalGothram" style="font-weight:bold;">Maternal Gothram</span></h6>
                        <h5>
                            <span id="lblMaternalGothram">{{ item.MeternalGothramID }}</span></h5>
                    </div>
                    <div ng-hide="item.manglikkujadosham===null" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="manglikkujadosham" style="font-weight:bold;">manglik/kuja dosham</span></h6>
                        <h5>
                            <span id="lblmanglikkujadosham">{{ item.manglikkujadosham }}</span></h5>
                    </div>
                </div>
                <div class="edit_page_item_ui clearfix" ng-if="page.model.AstroArr.length>0">
                    <a ng-click="page.model.populateAstro(item);" class="edit_page_edit_button" href="javascript:void(0);">Edit</a>
                </div>
                <br>
            </div>
        </div>


    </div>
    <div class="edit_page_details_item_desc clearfix" style="padding: 0 0 0 20px;">

        <div class="radio-group-my input-group" ng-show="page.model.ImageUrl==='' || page.model.ImageUrl===null">
            <md-radio-group ng-required="true" name="rdlUploadGenerate" layout="row" ng-model="page.model.atroObj.rdlUploadGenerate" ng-change="page.model.uploadGenerateHoro(page.model.atroObj.rdlUploadGenerate);" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                <md-radio-button value="0">Upload Horoscope</md-radio-button>
                <md-radio-button value="1"> Generate Horoscope </md-radio-button>
            </md-radio-group>
        </div>

    </div>

    <div ng-hide="page.model.ImageUrl==='' || page.model.ImageUrl===null">
        <div class="edit_page_details_item">
            <div class="edit_page_details_item_desc clearfix">
                <img ng-model="page.model.imghoroName" ng-src="{{page.model.ImageUrl}}" Style="width: 250px; height: 250px;" ng-show="!page.model.iframeShow" />
                <iframe border="0" id="iframe" frameborder="0" height="300" width="800" ng-show="page.model.iframeShow"></iframe>
            </div>
        </div>
        <div class="edit_page_details_item_desc clearfix" style="padding: 0 0 0 20px;">
            <div class="edit_page_item_ui clearfix  pull-left">
                <a ID="btndeletehoro" class="edit_page_del_button" href="javascript:void(0);" ng-click="page.model.shoedeletePopup();" data-placement="bottom" data-toggle="tooltip" data-original-title="Delete Astro Details">
               Delete <ng-md-icon icon="delete" style="fill:#665454" size="18">Delete</ng-md-icon></a>
                <a Style="padding-left: 100px;" class="btn btn-link" ng-click="page.model.vewHoro();">View<span class="glyphicon glyphicon-eye-open"></span></a>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="astroContent.html">
    <form name="astroForm" novalidate role="form" ng-submit="page.model.astroSubmit(page.model.atroObj);" accessible-form>
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Astro details
                <a href="javascript:void(0);" ng-click="cancel();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="20"></ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix pop_content_my" id="modal-body">
            <ul id="ulastro">
                <li class="clearfix form-group">
                    <label for="lbltimebirth" class="pop_label_left">Time of Birth<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my select-box-my-trible select-box-my-trible3 input-group">

                        <select multiselectdropdown ng-model="page.model.atroObj.ddlFromHours" ng-options="item.value as item.label for item in page.model.hrsbindArr" required></select>
                        <select multiselectdropdown ng-model="page.model.atroObj.ddlFromMinutes" ng-options="item.value as item.label for item in page.model.minbindArr" required></select>
                        <select multiselectdropdown ng-model="page.model.atroObj.ddlFromSeconds" ng-options="item.value as item.label for item in page.model.secbindArr" required></select>
                    </div>
                </li>

                <country-directive require="true" countryshow="true" cityshow="true" othercity="false" dcountry="page.model.atroObj.ddlCountryOfBirthID" dstate="page.model.atroObj.ddlStateOfBirthID" ddistrict="page.model.atroObj.ddlDistrictOfBirthID" dcity="page.model.atroObj.ddlcity"></country-directive>

                <li class="clearfix form-group">
                    <label for="lblstarlan" class="pop_label_left">Star language</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="page.model.atroObj.ddlstarlanguage" typeofdata="'starLanguage'" ng-change="page.model.changeBind('star',page.model.atroObj.ddlstarlanguage);"></select>
                    </div>
                </li>

                <li class="clearfix form-group">
                    <label for="lblstar" class="pop_label_left">Star</label>
                    <div class="pop_controls_right select-box-my">

                        <select multiselectdropdown ng-model="page.model.atroObj.ddlstar" ng-options="item.value as item.label for item in page.model.starArr"></select>

                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblpaadam" class="pop_label_left">Paadam</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="page.model.atroObj.ddlpaadam" typeofdata="'paadam'"></select>
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblLagnam" class="pop_label_left">Lagnam</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="page.model.atroObj.ddlLagnam" typeofdata="'lagnam'"></select>
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblRaasiMoonsign" class="pop_label_left">Raasi/Moon sign</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="page.model.atroObj.ddlRaasiMoonsign" typeofdata="'ZodaicSign'"></select>
                        </select>
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblGothramGotra" class="pop_label_left">Gothram/Gotra</label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="page.model.atroObj.txtGothramGotra" class="form-control" tabindex="13" maxlength="100" />
                    </div>
                </li>
                <li class="clearfix">
                    <label for="lblMaternalgothram" class="pop_label_left">Maternal gothram</label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="page.model.atroObj.txtMaternalgothram" class="form-control" tabindex="14" maxlength="100" />
                    </div>
                </li>
                <li class="clearfix">
                    <label for="lblManglikKujadosham" style="padding-top: 2%;" class="pop_label_left">Manglik/Kuja dosham</label>

                    <md-input-container style="font-weight: 700;color:black;">
                        <md-radio-group name="rdlkujaDosham" layout="row" ng-model="page.model.atroObj.rdlkujaDosham" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                            <md-radio-button value="0" class="md-primary">Yes</md-radio-button>
                            <md-radio-button value="1"> No </md-radio-button>
                            <md-radio-button value="2"> Dont't Know </md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </li>

                <li class="clearfix form-group" style="display: none;">
                    <label for="lbllongitude" class="pop_label_left">Place of birth longitude</label>
                    <div class="pop_controls_right select-box-my">
                        <input id="txtlogitude" class="form-control" />

                        <select multiselectdropdown ng-model="page.model.atroObj.ddllongitude"></select>
                    </div>
                </li>
                <li class="clearfix form-group" style="display: none;">
                    <label for="lbllatitude" class="pop_label_left">Place of birth latitude</label>
                    <div class="pop_controls_right select-box-my">
                        <input id="txtlatitude" class="form-control col-lg-3" />
                        <select multiselectdropdown ng-model="page.model.atroObj.ddllatitude"></select>

                    </div>
                </li>
                <li class="clearfix form-group" style="display: none;">
                    <label for="lbllatitude">Place of birth latitude</label>
                    <div class="pop_controls_right select-box-my">
                        <input type="checkbox" ng-model="page.model.atroObj.Chkgenertehoro" value="Generate HoroScope" />
                    </div>
                </li>
                <li class="row">
                    <edit-footer></edit-footer>

                </li>
            </ul>
        </div>

    </form>
</script>

<script type="text/ng-template" id="AddHoroPopup.html">
    <form name="uploadForm" novalidate role="form" ng-submit="page.model.upload(up);">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Upload Horoscope </h3>
        </div>
        <div class="modal-body" id="modal-body">
            <label class="control-label">Use this file formats like gif, jpeg, png,jpg</label>
            <br>
            <ul id="ulprofession">
                <input type="file" file-model="up.myFile" />
            </ul>
        </div>
        <div class="modal-footer">
            <input value="Cancel" class="button_custom button_custom_reset" ng-click="page.model.cancel();" type="button">
            <input value="Upload" class="button_custom" type="submit">
        </div>
    </form>
</script>
<script type="text/ng-template" id="deletehoroPopup.html">
    <form name="uploadForm" novalidate role="form" ng-submit="page.model.deleteHoroImage();">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Delete Horoscope </h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="text-center">Are you sure to delete horoscope?</div>
        </div>
        <div class="modal-footer">
            <input value="Close" class="button_custom button_custom_reset" ng-click="page.model.cancel();" type="button">
            <input value="Delete" class="button_custom" type="submit">
        </div>
    </form>

</script>


<script type="text/ng-template" id="AstroCityPopup.html">
    <div class="modal-header alert alert-danger" id="div2">
        <button type="button" class="close" ng-click="page.model.cancel();">&times;</button>
        <h4 class="modal-title">
            <span id="lblcityheader">we are unable to genearte horoscope with your given city <b style="color: green"> Administrative Buildings </b>,so please select Nearest city to your place of birth</span>
        </h4>
    </div>
    <div class="modal-body" id="modalbodyIDnew">
        <div class="pop_controls_right select-box-my">
            <select multiselectdropdown ng-model="page.model.ddlAstrocity" ng-options="item.value as item.label for item in page.model.AstrocityArr" ng-change="page.model.AstroCityChange(page.model.ddlAstrocity);"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="page.model.cancel();">Close</button>
    </div>
</script>

<script type="text/ng-template" id="AstroimagePopup.html">

    <div class="modal-header">
        <h3 class="modal-title text-center" id="modal-title">Horoscope
            <a href="javascript:void(0);" ng-click="page.model.cancel();">
                <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="25"></ng-md-icon>
            </a>
        </h3>
    </div>
    <div class="modal-body clearfix pop_content_my" id="modal-body">
        <img ng-src="{{page.model.ImageUrl}}" style="width:500px;height:500px;" />
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <input value="Cancel" class="button_custom button_custom_reset  pull-right" ng-click="page.model.cancel();" type="button">
        </div>
    </div>
</script>


<script type="text/ng-template" id="RefreshPopup.html">

    <div class="modal-body clearfix" id="modal-body">
        <button ng-click="page.model.generatedhoroS3Upload();" class="btn btn-success center-block">Refresh Page<span class="fa fa-refresh"></span></button>&nbsp;&nbsp;

    </div>

</script>