<form name="deleteForm" novalidate role="form" ng-submit="page.model.deleteSubmit()">
    <div class="modal-header">
        <h3 class="modal-title text-center" id="modal-title">Alert
            <a href="javascript:void(0);" ng-click="cancel();">
                <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="25">Delete</ng-md-icon>
            </a>
        </h3>
    </div>
    <div class="modal-body clearfix" id="modal-body">
        <b class="text-center"> Do you want to delete <span>{{deleteDisplayTxt}}</span> details</b>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Delete</button>
        <button type="button" class="btn btn-danger" ng-click="page.model.cancel();">Cancel</button>
    </div>

</form>