<form name="reviewConfirmForm" novalidate role="form" ng-submit="reviewSubmit();">
    <div class="modal-header text-center" style="color: #57b5e3;
    border-bottom: 3px solid #57b5e3;font-size: 30px;">
        <i class="glyphicon glyphicon-alert"></i>
    </div>
    <div class="modal-title text-center" style="font-size: 17px;color: #737373;font-weight: bold;">Confirmation</div>
    <div class="modal-body clearfix" id="modal-body">
        <b class="text-center" style="color:gray;"> Do you want to Review the {{reviewdisplay}}</b>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Review</button>
        <button type="button" class="btn btn-danger" ng-click="cancel();">Cancel</button>
    </div>
</form>