<div class="edit_pages_content_main clearfix">

    <div class="employee_review_check clearfix">
        <md-checkbox ng-model="chkboxedu" style="padding: 9px 13px 0px 0px;" class="pull-right" name="chkboxedu" aria-label="Checkbox 1"><span style="color: black;">Review</span>
        </md-checkbox>
        <div class="clearfix"></div>
    </div>
    <div class="edit_page_item" id="divlnkaddparents">
        <div class="edit_page_item_head clearfix">
            <h4>Parents Details &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #08CFD2" id="spanEduModID">ModifiedBy :{{page.model.parentmodifiedby}}</span>
                <span style="color: #08CFD2" id="spanEduModID" visible="false">
                    <label id="lblParentsDetailsmodby" forecolor="#08CFD2"></label>
                    </span>
            </h4>
            <div class="edit_page_item_ui clearfix" ng-if="page.model.parentArr.length===0">
                <a data-toggle="tooltip" data-original-title="Add Parents Details" class="edit_page_add_button" href="javascript:void(0);" ng-click="page.model.populateModel('parent');">Add</a>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="listparents" ng-repeat="item in page.model.parentArr">
                <div id="reviewdiv" ng-class="item.reviewstatus===false?'edit_page_details_item_desc clearfix reviewCls':'edit_page_details_item_desc clearfix'">
                    <div>
                        <div>
                            <div class="edit_page_details_item_desc clearfix">
                                <h6>
                                    <label id="lfathername" font-bold="true"></label>Father Name</h6>
                                <h5>
                                    <span id="LBfathername">{{item.FatherName}}</span>
                                </h5>

                            </div>
                            <div class="edit_page_item_ui clearfix" ng-if="page.model.parentArr.length>0">
                                <a id="LinkButton1dfd" href="javascript:void(0):" data-original-title="Edit Parents Details" class="edit_page_edit_button" ng-click="page.model.populateModel('parent',item);">Edit</a>

                            </div>
                        </div>

                        <div class="edit_page_details_item_desc clearfix">
                            <h6>
                                <label id="lblfathereducation" font-bold="true">Education</label>
                            </h6>
                            <h5>
                                <span id="lblfathereducationdetails">
                                    {{item.FatherEducationDetails }}
                            </span>
                            </h5>
                        </div>


                        <div class="edit_page_details_item_desc clearfix">
                            <h6>
                                <label font-bold="true">Profession Category</label>
                            </h6>
                            <h5>
                                <span>
                                    {{item.FatherProfessionCategory }}
                            </span>
                            </h5>
                        </div>

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lblFatherprofession" font-bold="true">Designation</label>
                            </h6>

                            <h5>
                                <span id="lblfatherprofessiondetails">
                                   {{item.FatherProfDetails }}
                            </span>
                            </h5>
                        </div>


                        <div class="edit_page_details_item_desc clearfix" id="fathercompnay">

                            <h6>
                                <label id="lblfatherprofessionloc" font-bold="true">Company & JobLocation</label>
                            </h6>
                            <h5>
                                <span id="lblfatherprofandloc">
                                   {{((item.FathercompanyName!=null && (item.FathercompanyName!="")?item.FathercompanyName:"NotSpecified"))
                                        +" "+((item.FatherJoblocation!=null && (item.FatherJoblocation!="")?"," +" "+item.FatherJoblocation:''))}}
                            </span>
                            </h5>
                        </div>

                        <div id="ownerdiv0">

                            <div class="edit_page_details_item_desc clearfix">
                                <h6>
                                    <label id="lblfathernumber" font-bold="true">Father contact nos</label>
                                </h6>
                                <h5>
                                    <span id="lblfathermobile">
                                       {{((item.FatherMobilenumber!=null && (item.FatherMobilenumber!="")?item.FatherMobilenumber:""))
                                        +" "+((item.FatherLandNumber!=null && (item.FatherLandNumber!="")?"&"+" "+item.FatherLandNumber:"")) }}
                                </span>
                                </h5>

                            </div>



                            <div class="edit_page_details_item_desc clearfix">
                                <h6>
                                    <label id="fatheremail" font-bold="true">Father Email</label>
                                </h6>
                                <h5>
                                    <span id="lblFatherEmail">
                                       {{ item.FatherEmail }}
                                </span>
                                </h5>
                            </div>

                        </div>



                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lblfathersfather">Father's Father Name</label></h6>
                            <h5>
                                <span id="lblfathersfath">
                                  {{  ((item.FatherFathername!=null && (item.FatherFathername!="")?item.FatherFathername:""))
                                        }}
                            </span>
                            </h5>
                        </div>

                        <div id="ownerdiv1">

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="FFContactNos">FF contact nos</label></h6>
                                <h5>
                                    <span id="lblFFContactNos">
                                       {{((item.FFMobileNumberWithcode!=null && (item.FFMobileNumberWithcode!="")?item.FFMobileNumberWithcode:""))
                                       + ((item.FFLandNumberwithCode!=null && item.FFLandNumberwithCode!="")?" & "+item.FFLandNumberwithCode:"") }}
                                </span>
                                </h5>
                            </div>

                        </div>

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="FnativePlace" font-bold="true">Native Place</label>
                            </h6>
                            <h5>
                                <span id="lblFnativePlace">
                                   {{
                                        ((item.FatherNativeplace!=null && item.FatherNativeplace!="")?item.FatherNativeplace:"" )+
                                        ((item.FatherDistric!=null && item.FatherDistric!="")?" ,"+item.FatherDistric:"")+
                                        ((item.FatherState!=null && item.FatherState!="")?" ,"+item.FatherState:"" )+
                                        ((item.FatherCountry!=null && item.FatherCountry!="")?" ,"+item.FatherCountry:"" )}}
                            </span>
                            </h5>
                        </div>




                    </div>

                    <div>
                        <hr />

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lblmothername" font-bold="true" forecolor="Red">
                                Mother Name
                            </label>
                            </h6>

                            <h5>
                                <span id="lblmothernameandedu">
                                    {{item.MotherName}}
                            </span>
                            </h5>
                        </div>


                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lbleducationmother">Education</label></h6>

                            <h5>
                                <span id="lblmotherducation">
                                   {{ ((item.MotherEducationDetails!=null && item.MotherEducationDetails!="")?item.MotherEducationDetails:"" )}}
                            </span>
                            </h5>
                        </div>




                        <div class="edit_page_details_item_desc clearfix">
                            <h6>
                                <label font-bold="true">Profession Category</label>
                            </h6>
                            <h5>
                                <span>
                                    {{item.MotherProfessionCategory }}
                            </span>
                            </h5>
                        </div>

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lblprofessionmotherr" font-bold="true">Designation</label>
                            </h6>

                            <h5>
                                <span id="lblmotherprofdetails">
                                  {{((item.MotherProfedetails!=null && item.MotherProfedetails!="")?
                                                item.MotherProfedetails:"" )}}
                            </span>
                            </h5>
                        </div>

                        <div id="mothercompany" class="edit_page_details_item_desc clearfix" ng-hide="item.MotherProfedetails=='HouseWife'">

                            <h6>
                                <label id="lblmotherprofession">Company & JobLocation</label></h6>
                            <h5>
                                <span id="lblmotherprofandloc">
                                   {{((item.MothercompanyName!=null && (item.MothercompanyName!="")?item.MothercompanyName:""))+" "+
                                            ((item.MotherJoblocation!=null && (item.MotherJoblocation!="")?", "+" "+
                                            item.MotherJoblocation:''))}}
                                </span>
                            </h5>
                        </div>

                        <div id="ownerdiv2">

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="lblmothercontacts">Mother contact nos</label></h6>
                                <h5>
                                    <span id="lblmompmobile">
                                       {{((item.MotherMobilenumber!=null && item.MotherMobilenumber!="")?item.MotherMobilenumber:"" )+" "+((item.MotherLandNumber!=null && (item.MotherLandNumber!="")?"&"+" "+item.MotherLandNumber:""))}}
                                </span>
                                </h5>
                            </div>

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="lblmotheremail" font-bold="true">Mother Email</label>
                                </h6>
                                <h5>
                                    <span id="lblmomemail">
                                        {{ item.MotherEmail }}
                                </span>
                                </h5>

                            </div>

                        </div>

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lblmotherfatherupp" font-bold="true">Mother's Father Name</label>
                            </h6>
                            <h5>
                                <span id="lblMotherFatherName">
                                   {{item.MotherFatherName }}
                            </span>
                            </h5>
                            </label>
                        </div>


                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="MotherFatherLastName" font-bold="true">Mother's Father SurName</label>
                            </h6>
                            <h5>
                                <span id="lblMotherFatherLastName">
                                  {{item.MotherFatherLastName}}
                            </span>
                            </h5>
                        </div>

                        <div id="ownerdiv3">

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="mContactNos" font-bold="true">MF Contact nos</label>
                                </h6>
                                <h5>
                                    <span id="lblmContactNos">
                                       {{ item.MMMobileNumberWithcode+
                                        ((item.MMLandNumberwithCode!=null && item.MMLandNumberwithCode!="")?" & "+item.MMLandNumberwithCode:"") }}
                                </span>
                                </h5>
                            </div>

                        </div>

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="MNativePlace" font-bold="true">Native Place</label>
                            </h6>
                            <h5>
                                <span id="lblMNativePlace">
                                   {{((item.MotherNativeplace!=null && item.MotherNativeplace!="")?item.MotherNativeplace:"") +
                                        ((item.MotherDistric!=null && item.MotherDistric!="")?" ,"+item.MotherDistric:"" )+
                                        ((item.MotherState!=null && item.MotherState!="")?" ,"+item.MotherState:"" )+
                                        ((item.MotherCountry!=null && item.MotherCountry!="")?" ,"+item.MotherCountry:"" )}}
                            </span>
                            </h5>
                        </div>

                    </div>
                    <div>
                        <div id="divParentIntercasteHide">

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="ParentsInterCaste">Are Parents InterCaste</label></h6>
                                <h5>
                                    <span id="lblParentsInterCaste">{{item.Intercaste }}</span>
                                </h5>
                            </div>

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="lFatherCaste">Father Caste</label></h6>
                                <h5>
                                    <span id="lblFatherCaste">{{item.FatherCaste }}</span>
                                </h5>
                            </div>

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="lMotherCaste">Mother Caste</label>
                                </h6>
                                <h5>
                                    <span id="lblMotherCaste">{{item.MotherCaste }}</span>
                                </h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <hr />


        </div>
    </div>
    <div class="edit_page_item" id="divlnkAddcontactaddress">
        <div class="edit_page_item_head clearfix">
            <h4>Contact Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #08CFD2">ModifiedBy :{{page.model.addrmodifiedby}}</span>

            </h4>
            <div class="edit_page_item_ui clearfix" ng-if="page.model.addressArr.length===0">

                <a ng-click="page.model.populateModel('Address',item);" href="javascript:void(0);" data-original-title="Add Contact Address" class="edit_page_add_button">Add</a>

            </div>
        </div>
        <div class="edit_page_details_item">

            <div ng-repeat="item in page.model.addressArr">

                <div id="Div1" ng-class="item.reviewstatus===false?'edit_page_details_item_desc clearfix reviewCls':'edit_page_details_item_desc clearfix'">

                    <div class="edit_page_details_item_desc clearfix">

                        <h6>
                            <label id="lblhousenum" font-bold="true">House/Flat No</label>
                        </h6>
                        <h5>
                            <span id="lblhouseflat">
                                {{ item.FlatNumber}}
                        </span>
                        </h5>
                    </div>

                    <div id="divapartment" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lblapartmentname" font-bold="true">Apt Name</label>
                        </h6>
                        <h5>
                            <span id="lblapartment">
                                {{ item.ApartmentName}}
                        </span>
                        </h5>
                    </div>
                    <div class="edit_page_item_ui clearfix" ng-if="page.model.addressArr.length>0">
                        <a ng-click="page.model.populateModel('Address',item);" href="javascript:void(0);">Edit</a>

                    </div>
                    <div id="divareaname" class="edit_page_details_item_desc clearfix">

                        <h6>
                            <label id="lblareaname" font-bold="true">Area Name</label>
                        </h6>
                        <h5>
                            <span id="lblareanamee">
                                {{ item.AreaName}}
                        </span>
                        </h5>

                    </div>

                    <div class="edit_page_details_item_desc clearfix">

                        <h6>
                            <label id="lblstreet" font-bold="true">Street Name</label>
                        </h6>
                        <h5>
                            <span id="lblstreetname">
                                {{ item.StreetName}}
                        </span>
                        </h5>

                    </div>

                    <div class="edit_page_details_item_desc clearfix">

                        <h6>
                            <label id="lblland" font-bold="true">Land Mark</label>
                        </h6>
                        <h5>
                            <span id="lbllandmark">
                                {{ item.LandMark}}
                        </span>
                        </h5>

                    </div>

                    <div class="edit_page_details_item_desc clearfix">

                        <h6>
                            <label id="lblcityy" font-bold="true">City</label>
                        </h6>
                        <h5>
                            <span id="lblcityname">
                                {{ item.CityName+" "+(item.DistrictName!=null?","+ item.DistrictName:"")+(item.StateName!=null?","+ item.StateName:"")+(item.CountryName!=null?","+item.CountryName:"")+(item.Zip!=null?"-"+item.Zip:"") }}
                        </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="edit_page_item" id="divlnkAddphsysicall">
        <div class="edit_page_item_head clearfix">
            <h4>Physical Attribute & Health Details of Candidate &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #08CFD2" id="spanEduModID">ModifiedBy :{{page.model.physicalmodifiedby}}</span></h4>
            <div class="edit_page_item_ui clearfix" ng-if="page.model.physicalArr.length===0">

                <a href="javascript:void(0);" ng-click="page.model.populateModel('physicalAttributes',item);" data-original-title="Add Physical Attribute & Health Details" class="edit_page_add_button">Add</a>
            </div>
        </div>
        <div class="edit_page_details_item">

            <div ng-repeat="item in page.model.physicalArr">

                <div id="Div2" ng-class="item.reviewstatus===false?'edit_page_details_item_desc clearfix reviewCls':'edit_page_details_item_desc clearfix'">

                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lbllDiet" font-bold="true">Diet</label></h6>
                        <h5>
                            <span id="lblDiet">
                                {{ item.Diet}}
                            </span>
                        </h5>
                    </div>
                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lbllDrink">Drink</label></h6>
                        <h5>
                            <span id="lblDrink">
                                {{ item.Drink}}
                            </span>
                        </h5>
                    </div>

                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lbllSmoke">Smoke</label>
                        </h6>
                        <h5>
                            <span id="lblSmoke">
                                {{ item.Smoke}}
                            </span>
                        </h5>
                    </div>

                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lbllBodyType">Body Type</label></h6>
                        <h5>
                            <span id="lblBodyType">
                                {{ item.BodyType}}
                            </span>
                        </h5>
                    </div>

                    <div class="edit_page_details_item_desc clearfix">

                        <h6>
                            <label id="lblbodyweight" font-bold="true">Body Weight</label>
                        </h6>
                        <h5>
                            <span id="lblweight">
                                {{ item.BodyWeight}}
                        </span>
                        </h5>
                    </div>

                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lblbloodgroup" font-bold="true">Blood Group</label>
                        </h6>
                        <h5>
                            <span id="lblbloodgrop">
                                {{ item.BloodGroupName}}
                        </span>
                        </h5>
                    </div>

                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lblhealthconditions" font-bold="true">Health Conditions</label>
                        </h6>
                        <h5>
                            <span id="lblhealthcondition">
                                {{ item.Healthcondition}}
                        </span>
                        </h5>
                    </div>
                    <div class="edit_page_item_ui clearfix" ng-if="page.model.physicalArr.length>0">
                        <a data-original-title="Edit Physical Attribute & Health Details" class="edit_page_edit_button" href="javascript:void(0);" ng-click="page.model.populateModel('physicalAttributes',item);">Edit</a>

                    </div>

                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lblhealthdescription" font-bold="true">Health Condition Description</label>
                        </h6>
                        <h5>
                            <span id="lblhealthdescriptions">
                                {{ item.HealthConditionDescription}}
                        </span>
                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="edit_page_item" id="divlnkaboutt">
        <div class="edit_page_item_head clearfix">
            <h4>About My Family </h4>
            <div class="edit_page_item_ui clearfix" ng-if="page.model.lblaboutMyfamily==='' || page.model.lblaboutMyfamily===null">

                <a data-original-title="Add About My Family" class="edit_page_add_button" href="javascript:void(0);" ng-click="page.model.populateModel('AboutFamily');">Add</a>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="lstAboutMyFamily">
                <div id="Div3" ng-class="AboutFamilyReviewStatus===false?'edit_page_details_item_desc clearfix reviewCls':'edit_page_details_item_desc clearfix'">
                    <div>
                        <div>
                            <h5>
                                <span id="lblAboutMyFamily">
                                    {{page.model.lblaboutMyfamily}}
                                </span>
                            </h5>
                            <label id="Label5" visible="false"></label>
                        </div>

                        <div class="edit_page_item_ui clearfix" ng-if="page.model.lblaboutMyfamily!='' && page.model.lblaboutMyfamily!=null">
                            <a href="javascript:void(0);" class="edit_page_edit_button" data-original-title="Edit About My Family" ng-click="page.model.populateModel('AboutFamily',page.model.lblaboutMyfamily);">Edit</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="popupDiv">
    <script type="text/ng-template" id="parentModalContent.html">
        <form name="parentForm" novalidate role="form" ng-submit="page.model.ParentSubmit(page.model.parent)">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="modal-title">Parent details
                    <a href="javascript:void(0);" ng-click="page.model.cancel();">
                        <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="20"></ng-md-icon>
                    </a>
                </h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class='modal-body clearfix pop_content_my'>
                    <ul>
                        <li>
                            <h6>Father Details</h6>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lbleducationGroup" class="pop_label_left" style="color: red;">Father Name<span style="color: red; margin-left: 3px;">*</span></label>

                            <div class="pop_controls_right form-group">
                                <input type="text" ng-model="page.model.parent.txtFathername" class="form-control" tabindex="1" required/>
                            </div>
                        </li>

                        <li class="clearfix form-group">
                            <label for="lblFEducation" class="pop_label_left">Education</label>
                            <div class="pop_controls_right">
                                <input type="text" ng-model="page.model.parent.txtFEducation" class="form-control" maxlength="150" tabindex="2" />
                            </div>
                        </li>

                        <li class="clearfix form-group">
                            <label for="lblFprofessioncat" class="pop_label_left">Profession Category</label>
                            <div class="pop_controls_right select-box-my input-group">
                                <select multiselectdropdown ng-model="page.model.parent.ddlFprofessionCatgory" typeofdata="'newProfessionCatgory'"></select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblFProfession" class="pop_label_left">Designation</label>
                            <div class="pop_controls_right">
                                <input type="text" ng-model="page.model.parent.txtFProfession" class="form-control" maxlength="200" tabindex="3" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblCompanyName" class="pop_label_left">Company Name </label>
                            <div class="pop_controls_right">
                                <input type="text" ng-model="page.model.parent.txtCompany" class="form-control" maxlength="100" tabindex="4" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblJobLocation" class="pop_label_left">Job Location</label>
                            <div class="pop_controls_right">
                                <input type="text" ng-model="page.model.parent.txtJobLocation" class="form-control" maxlength="100" tabindex="5" />
                            </div>
                        </li>

                        <contact-directive emailhide="true" dmobile="parent.ddlMobile" strmobile="parent.txtMobile" dalternative="parent.ddlfathermobile2" stralternative="parent.txtfathermobile2" dland="parent.ddlLandLineCountry" strareacode="parent.txtAreCode" strland="parent.txtLandNumber"
                            strmail="parent.txtEmail"></contact-directive>
                        <li class="clearfix form-group">
                            <label for="lblFatherFname" class="pop_label_left">Father's father name </label>
                            <div class="pop_controls_right">
                                <input type=text ng-model="page.model.parent.txtFatherFname" class="form-control" placeholder="Enter Father's father name" maxlength="100" tabindex="17" />
                            </div>
                        </li>


                        <contact-directive emailhide="false" dmobile="parent.ddlFatherfatherMobileCountryCode" strmobile="parent.txtMobileFatherfather" dalternative="parent.ddlfatherfatherAlternative" stralternative="parent.txtfatherfatherAlternative" dland="parent.ddlFatherFatherLandLineCode"
                            strareacode="parent.txtGrandFatherArea" strland="parent.txtGrandFatherLandLinenum"></contact-directive>

                        <country-directive countryshow="false" dcountry="dcountry" cityshow="false" othercity="false" dstate="parent.ddlFState" ddistrict="parent.ddlFDistric"></country-directive>

                        <li class="clearfix form-group">
                            <label for="FNativePlace" class="pop_label_left">Native Place</label>
                            <div class="pop_controls_right">
                                <input ng-model="page.model.parent.txtFNativePlace" class="form-control" maxlength="100" tabindex="29" />
                            </div>
                        </li>
                        <li>
                            <h6>Mother Details</h6>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblMotherName" class="pop_label_left" style="color: red;">Mother Name<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right form-group">
                                <input ng-model="page.model.parent.txtMName" class="form-control" maxlength="100" tabindex="30" required/>
                            </div>
                        </li>

                        <li class="clearfix form-group">
                            <label for="lblMEducation" class="pop_label_left">Education</label>
                            <div class="pop_controls_right">
                                <input ng-model="page.model.parent.txtMEducation" class="form-control" maxlength="150" tabindex="31" />
                            </div>
                        </li>

                        <li class="clearfix form-group">
                            <label for="lblFprofessioncat" class="pop_label_left">Profession Category</label>
                            <div class="pop_controls_right select-box-my input-group">
                                <select multiselectdropdown ng-model="page.model.parent.ddlMprofessionCatgory" typeofdata="'newProfessionCatgory'"></select>
                            </div>
                        </li>

                        <li class="clearfix form-group">
                            <label for="lblMProfession" class="pop_label_left">Designation</label>
                            <div class="pop_controls_right">
                                <input ng-model="page.model.parent.txtMProfession" class="form-control" maxlength="200" tabindex="32" />
                                <label class="checkbox-inline checkbox_my" style="padding: 5px 0 0 0;">
                <input type=checkbox ng-model="page.model.parent.chkbox"  tabindex="33"  ng-change="page.model.housewiseChk(page.model.parent);"/><span>&nbsp;HouseWife</span>
            </label>
                            </div>

                        </li>
                        <div id="divmotherprofesseion" ng-hide="parent.chkbox==true">
                            <li id="divComLocation" class="clearfix form-group">

                                <label for="lblMCompanyName" class="pop_label_left">Company Name </label>
                                <div class="pop_controls_right">
                                    <input ng-model="page.model.parent.txtMCompanyName" class="form-control" maxlength="100" tabindex="34" />
                                </div>
                            </li>

                            <li class="clearfix form-group">
                                <label for="lblMJobLocation" class="pop_label_left">Job Location</label>
                                <div class="pop_controls_right">
                                    <input ng-model="page.model.parent.txtMJobLocation" class="form-control" maxlength="100" tabindex="35" />
                                </div>
                            </li>
                        </div>
                        <div style="height: 15px;"></div>




                        <contact-directive emailhide="true" dmobile="page.model.parent.ddlMMobileCounCodeID" strmobile="page.model.parent.txtMMobileNum" dalternative="page.model.parent.ddlMMobileCounCodeID2" stralternative="page.model.parent.txtMMobileNum2" dland="page.model.parent.ddlMLandLineCounCode"
                            strareacode="page.model.parent.txtmAreaCode" strland="page.model.parent.txtMLandLineNum" strmail="page.model.parent.txtMEmail"></contact-directive>


                        <li class="clearfix form-group">
                            <label for="lblMotherFname" class="pop_label_left">Mother's Father Name </label>
                            <div class="pop_controls_right select-box-my">
                                <input type=text ng-model="page.model.parent.txtMFatherFname" class="form-control" placeholder="FIRST NAME" tabindex="47" maxlength="100" />
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblMotherFname" class="pop_label_left">Mother's Last Name </label>
                            <div class="pop_controls_right select-box-my">
                                <input type=text ng-model="page.model.parent.txtMFatherLname" class="form-control" placeholder="LAST NAME" tabindex="48" maxlength="50" />

                            </div>
                        </li>

                        <contact-directive emailhide="false" dmobile="page.model.parent.ddlMotherfatheMobileCountryCode" strmobile="page.model.parent.txtMotherfatheMobilenumber" dalternative="page.model.parent.ddlmotherfatheralternative" stralternative="page.model.parent.txtmotherfatheralternative"
                            dland="page.model.parent.ddlMotherFatherLandLineCode" strareacode="page.model.parent.txtMotherFatherLandLineareacode" strland="page.model.parent.txtMotherFatherLandLinenum"></contact-directive>

                        <country-directive countryshow="false" dcountry="dcountry" cityshow="false" othercity="false" dstate="page.model.parent.ddlMState" ddistrict="page.model.parent.ddlMDistrict"></country-directive>
                        <li class="clearfix form-group">
                            <label for="MNativePlace" class="pop_label_left">Native Place</label>
                            <div class="pop_controls_right">
                                <input type=text ng-model="page.model.parent.txtMNativePlace" class="form-control" maxlength="150" tabindex="60" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="ParentIntercaste" class="pop_label_left">Are parents interCaste ? </label>



                            <md-radio-group name="rbtlParentIntercaste" style="font-weight: 700;color:black;" layout="row" ng-model="page.model.parent.rbtlParentIntercaste" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                <md-radio-button value="0">No </md-radio-button>
                            </md-radio-group>
                        </li>

                        <div ng-if="page.model.parent.rbtlParentIntercaste==='1' || page.model.parent.rbtlParentIntercaste===1">

                            <li id="divddlFatherCaste" class="clearfix form-group">

                                <label for="lblFCaste" class="pop_label_left">Father Caste</label>
                                <div class="pop_controls_right select-box-my">

                                    <select multiselectdropdown ng-model="page.model.parent.ddlFatherCaste" typeofdata="'caste'" required></select>
                                </div>
                            </li>
                            <li id="divddlMotherCaste" class="clearfix form-group">
                                <label for="lblMCaste" class="pop_label_left">Mother Caste</label>
                                <div class="pop_controls_right select-box-my">
                                    <select multiselectdropdown ng-model="page.model.parent.ddlMotherCaste" typeofdata="'caste'"></select>
                                </div>
                            </li>
                        </div>


                        <li class="row ">
                            <br/>

                            <edit-footer></edit-footer>
                        </li>
                    </ul>
                    </div>
                </div>

        </form>
    </script>
    <script type="text/ng-template" id="AddressModalContent.html">
        <form name="addressForm" novalidate role="form" ng-submit="page.model.contactAddressSubmit(page.model.AdrrObj)">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="modal-title">Contact Details
                    <a href="javascript:void(0);" ng-click="page.model.cancel();">
                        <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="20"></ng-md-icon>
                    </a>
                </h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="modal-body clearfix pop_content_my">
                    <ul>
                        <li class="clearfix form-group">
                            <label for="lblHouse_flat" class="pop_label_left">House/Flat number<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right form-group">
                                <input ng-model="page.model.AdrrObj.txtHouse_flat" class="form-control" maxlength="50" tabindex="1" required/>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblApartmentName" class="pop_label_left">Apartment name</label>
                            <div class="pop_controls_right">
                                <input ng-model="page.model.AdrrObj.txtApartmentName" class="form-control" maxlength="150" tabindex="2" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblStreetName" class="pop_label_left">Street name</label>
                            <div class="pop_controls_right">
                                <input ng-model="page.model.AdrrObj.txtStreetName" class="form-control" maxlength="150" tabindex="3" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblAreaName" class="pop_label_left">Area Name</label>
                            <div class="pop_controls_right">
                                <input ng-model="page.model.AdrrObj.txtAreaName" class="form-control" maxlength="150" tabindex="4" />
                            </div>


                        </li>
                        <li class="clearfix form-group">
                            <label for="lbleducationGroup" class="pop_label_left">Landmark</label>
                            <div class="pop_controls_right">


                                <input ng-model="page.model.AdrrObj.txtLandmark" class="form-control" maxlength="150" tabindex="5" />
                            </div>
                        </li>


                        <country-directive countryshow="true" cityshow="false" othercity="false" dcountry="page.model.AdrrObj.ddlCountryContact" dstate="page.model.AdrrObj.ddlStateContact" ddistrict="page.model.AdrrObj.ddlDistricContact" require=true></country-directive>

                        <li class="clearfix form-group">
                            <label for="lblCityParentContactPopupgroup" class="pop_label_left">City<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right">
                                <input ng-model="page.model.AdrrObj.txtCity" class="form-control" tabindex="9" maxlength="100" required/>

                            </div>

                        </li>
                        <li class="clearfix form-group">
                            <label for="lblZip_pin" class="pop_label_left">Zip/Pin 	</label>
                            <div class="pop_controls_right">


                                <input ng-model="page.model.AdrrObj.txtZip_no" class="form-control" maxlength="8" tabindex="10" />

                            </div>
                        </li>

                        <li class="row">
                            <br/>


                            <edit-footer></edit-footer>
                        </li>
                    </ul>

                </div>

            </div>

        </form>
    </script>

    <script type="text/ng-template" id="PhysicalAttributeModalContent.html">
        <form name="PhysicalForm" novalidate role="form" ng-submit="page.model.physicalAtrrSubmit(page.model.physicalObj)">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="modal-title">Physical Attributes & Health Details of Candidate
                    <a href="javascript:void(0);" ng-click="page.model.cancel();">
                        <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="20"></ng-md-icon>
                    </a>
                </h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="modal-body clearfix pop_content_my">
                    <ul id="HealthDivClear">
                        <li class="clearfix form-group">
                            <label for="lblpDiet" class="pop_label_left">Diet</label>
                            <div class="pop_controls_right">



                                <md-radio-group name="rbtlDiet" style="font-weight: 700;color:black;" layout="row" ng-model="page.model.physicalObj.rbtlDiet" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="27" class="md-primary">Veg</md-radio-button>
                                    <md-radio-button value="28">Non Veg </md-radio-button>
                                    <md-radio-button value="29">Both </md-radio-button>
                                </md-radio-group>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblpDrink" class="pop_label_left">Drink</label>
                            <div class="pop_controls_right">
                                <md-radio-group name="rbtlDrink" style="font-weight: 700;color:black;" layout="row" ng-model="page.model.physicalObj.rbtlDrink" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="30" class="md-primary">Yes</md-radio-button>
                                    <md-radio-button value="31">No </md-radio-button>
                                    <md-radio-button value="32">Occasional </md-radio-button>
                                </md-radio-group>

                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblpSmoke" class="pop_label_left">Smoke</label>
                            <div class="pop_controls_right">



                                <md-radio-group name="rbtlSmoke" style="font-weight: 700;color:black;" layout="row" ng-model="page.model.physicalObj.rbtlSmoke" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                                    <md-radio-button value="30" class="md-primary">Yes</md-radio-button>
                                    <md-radio-button value="31">No </md-radio-button>
                                    <md-radio-button value="32">Occasional </md-radio-button>
                                </md-radio-group>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblpBodyType" class="pop_label_left">Body Type</label>
                            <div class="pop_controls_right  select-box-my">
                                <select multiselectdropdown ng-model="page.model.physicalObj.ddlBodyType" typeofdata="'bodyType'"></select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblBodtWeight" class="pop_label_left">Body weight</label>
                            <div class="pop_controls_right select-box-my select-box-my-double">
                                <span>kgs</span>
                                <input ng-model="page.model.physicalObj.txtBWKgs" class="form-control" tabindex="5" width="200px" ng-keyup="page.model.converttolbs(page.model.physicalObj);" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label id="lbllbs" class="pop_label_left">lbs</label>
                            <div class="pop_controls_right">
                                <div>
                                    <input ng-model="page.model.physicalObj.txtlbs" class="form-control" text="" onkeyup="converttokgs(this.id);" onkeydown="return checkwhitespace(event,this.id);" onblur="validateLbs(this)" tabindex="6" />

                                </div>
                            </div>

                        </li>
                        <li class="clearfix form-group">
                            <label for="lblBloodGroup" class="pop_label_left">Blood Group</label>
                            <div class="pop_controls_right select-box-my">
                                <select multiselectdropdown ng-model="page.model.physicalObj.ddlBloodGroup" typeofdata="'bloodGroup'"></select>
                            </div>

                        </li>
                        <li class="clearfix form-group">
                            <label for="lblHealthConditions" class="pop_label_left">Health Conditions</label>
                            <div class="pop_controls_right">
                                <div class="select-box-my">
                                    <select multiselectdropdown ng-model="page.model.physicalObj.ddlHealthConditions" typeofdata="'healthCondition'"></select>
                                </div>
                            </div>

                        </li>
                        <li class="clearfix form-group">
                            <label for="lblHealthCondition" class="pop_label_left">Health Condition Description</label>
                            <div class="">
                                <textarea ng-model="page.model.physicalObj.txtHealthCondition" class="form-control" tabindex="9" rows="4" style="width: 515px;" maxlength="200"></textarea>
                            </div>
                        </li>
                        <li class="row">
                            <br/>



                            <edit-footer></edit-footer>
                        </li>
                    </ul>
                </div>
            </div>

        </form>
    </script>
    <script type="text/ng-template" id="AboutFamilyModalContent.html">
        <form name="AboutForm" novalidate role="form" ng-submit="page.model.AboutMyfamilySubmit(page.model.aboutFamilyObj)">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="modal-title">About My Family
                    <a href="javascript:void(0);" ng-click="page.model.cancel();">
                        <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="20"></ng-md-icon>
                    </a>
                </h3>
            </div>
            <div class="modal-body clearfix pop_content_my" id="modal-body">

                <div class="form-group">
                    <label class="control-label">(Do Not Mention Any Contact Information Phone Numbers, Email Id’s or your Profile May be Rejected.)</label>
                    <textarea class="form-control" ng-model="page.model.aboutFamilyObj.txtAboutUs" required="required" type="text"> </textarea>
                </div>

                <div class="row">
                    <br/>


                    <edit-footer></edit-footer>
                </div>
            </div>

        </form>
    </script>
    <alert-directive></alert-directive>
    </div>

    <style>
        .md-dialog-container {
            z-index: 99999999999;
        }
    </style>