<div id="PhotoPopupSlde" ng-show="dynamicslideshow">
    <div class="">
        <div class="modal-header" style="border-bottom: 1px solid #ffffff;">


            <div class="row" ng-if="dynamicheader==='false'">
                <div class="col-lg-6 col-md-6 col-xs-8 col-sm-8">

                    <label id="lbltotalrecords">Total Records :</label>
                    <label id="lblcurrentprofile">1</label> &nbsp;of&nbsp;
                    <label id="lblcurSlide">1</label>

                </div>
                <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">

                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <label>Viewed</label>&nbsp;<label id="lnkLastSlide" data-ng-bind="slidNum" style="color: blue;">1</label>&nbsp;<label>Profiles</label>
                    </div>
                    <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
                        <input type="text" id="txtGotoVal" class="form-control" style="width: 50px; height: 24px; margin-left: -20px;" onchange="gotoSlide(this);" />
                    </div>

                </div>
                <div class="col-lg-2" ng-if="slidetype==='popup'">
                    <div>
                        <a href="javascript:void(0);" class="col-lg-offset-6">

                            <a href="javascript:void(0);" ng-click="close()" style="fill:#c73e5f;font-size: 13pt;width:30px;" size="25">close</a>
                        </a>
                        <a href="javascript:void(0);" ng-click="close()" class="pull-right">

                            <i class="fa fa-times" aria-hidden="true" style="fill:#c73e5f;font-size: 13pt;"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="dynamicheader==='true'">
                <div ng-include="headertemplate"></div>
            </div>

        </div>



        <!-- <div class="num col-lg-offset-1" style="font-size: 15px;">Profile
            <label style="color: blue;" data-ng-bind="slidNum"></label>&nbsp;</div>-->

        <div class="modal-body">
            <div id="sildeViewDiv" style="display:block;">

                <div class="bs-example">
                    <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">

                        <div ng-include="bodytemplate"></div>

                        <a data-target="#myCarousel" class="carousel-control left" href="javascript:void(0)" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a data-target="#myCarousel" class="carousel-control right" href="javascript:void(0)" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>

                    </div>
                    <div id="carouselButtons" class="col-lg-offset-5" style="margin-top: -10px;">
                        <button id="playButton" type="button" ng-show="ShowPause" ng-click="pauseResume('play');" class="btn btn-default btn-xs pauseBtns" title="Play">
                                    <i class="fa fa-play"></i>
                                </button>
                        <button id="pauseButton" type="button" ng-show="!ShowPause" ng-click="pauseResume('pause');" class="btn btn-default btn-xs pauseBtns" title="Pause">
                                    <i class="fa fa-pause"></i>
                                </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<style>
    .paidCls {
        color: Green;
        text-decoration: underline;
        margin-left: -16px;
        padding-left: 10px;
    }
    
    .unpaidCls {
        color: red;
        text-decoration: underline;
        margin-left: -16px;
        padding-left: 10px;
    }
    
    .modal-lg {
        width: 90% !important;
    }
    /* .modal {
        z-index: 99999 !important;
    }*/
    
    .pauseBtns {
        width: 33px;
        height: 33px;
        font-size: 16px;
    }
</style>