<div class="carousel-inner">
    <div ng-class="($index+1)==1?'item active':'item'" ng-repeat="itemval in displayArr">

        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">

            <div style="margin-left:60px;" class="edit_page_details_item_desc clearfix" ng-repeat="slidedata in itemval.itmArr" ng-if="slidedata.label!=='backendFields'">
                <h6> <span style="font-weight: bold;">{{slidedata.label}}</span></h6>
                <h5>
                    <div style="color:Black;"> <span>{{slidedata.value}}</span> </div>
                    <span ng-if="slidedata.label=='ProfileID'">&nbsp;<a href="javascript:void(0);" ng-class="slidedata.paid==='1'?'paidCls':'unpaidCls'" >{{slidedata.ProfileID}}</a> {{slidedata.KMPLID}} {{(slidedata.IsConfidential===true) ||(slidedata.IsConfidential==='True')?'C':''}}  
                                                {{(slidedata.SuperConfidentila==="1") ||(slidedata.SuperConfidentila===1)?'SC':''}}  
                                                <input ng-show="slidedata.HoroscopeStatus==='1'" src='../../Images/ico_horoscope.jpg' style='height:20px;width:25px;' type='image'>
                                              </span>
                    <div class="clearfix">
                    </div>
                </h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4" style="margin-top: -4px;">
            <div class="row">
                <a class="Heart center-block" href="javascript:void(0);">
                    <div class="col-lg-2"><img src="src/images/two.png" style="margin-top:-4px;" width="40" height="38"></div>
                    <div class="col-lg-1">
                        <lable style="font-size: 13pt;">shortlist</lable>
                    </div>
                </a>
                <img ng-click="slidepopup(itemval.Custid)" src="http://d16o2fcjgzj2wp.cloudfront.net/Images/ProfilePics/KMPL_108801_Images/Img1_Images/111088014_FullPhoto.jpg" class="image" style="cursor: pointer;" />
                <br>
                <div class="col-lg-8 col-lg-offset-5"><a href="javascript:void(0)"><span style="color:Black;font-size:9pt;">No of Photos   2</span></a></div>
            </div>
        </div>
    </div>
</div>