<div class="edit_pages_content_main clearfix">
    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>About Profile Details</h4>
            <div class="edit_page_item_ui clearfix">
                <a id="lnkAboutProfile" class="edit_page_add_button" href="javascript:void(0);" ng-click="page.model.showPopup();" ng-show="dataval===''?true:false">Add
                    
                </a>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div class="edit_page_details_item_desc clearfix">
                <h5>
                    <span id="lblAboutProfile">{{page.model.dataval}}</span>
                </h5>
                <div class="edit_page_item_ui clearfix">
                    <a id="LinkButton1dfd" data-placement="bottom" class="edit_page_edit_button" href="javascript:void(0);" ng-click="page.model.showPopup(page.model.dataval);" ng-hide="dataval===''?true:false">Edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="AboutModalContent.html">
    <form name="aboutForm" novalidate role="form" ng-submit="page.model.AboutProfleSubmit(page.model.aboutObj.txtAboutprofile)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">About Your Profile
                <a href="javascript:void(0);" ng-click="page.model.cancel();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="25">Delete</ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix pop_content_my" id="modal-body">
            <ul>
                <li class="clearfix form-group">
                    <label id="lblabout" style="color: #9b2828; font-size: 13px;">
            				(You can write anything about this profile)*</label>
                    <textarea ng-model="page.model.aboutObj.txtAboutprofile" style="width: 500px; height: 150px;" class="col-lg-10" maxlength="1000" required ng-class="form-control" required />
                    <div>
                    </div>
                    <label id="Label1" style="color: red; font-size: 13px;" class="pull-right">(max 1000 characters)</label>

                </li>
                <li class="row">
                    <edit-footer></edit-footer>
                </li>
            </ul>

        </div>
    </form>
</script>